body {
	margin:0;
	font-size:22px;
	color: rgb(114, 14, 86);	
	font-family: arial;
}
.ust {
	background:rgb(206, 52, 103);
	padding:10px;
	text-align:center;
	color: rgb(255, 255, 255);
}
#menu {
	overflow:hidden;
    background:rgb(15, 143, 194);
    margin-left: 32%;
    margin-right: 32%;
    
}
#menu a {	
	 display:block;
	 float: left;
	 padding:15px 16px;
	 color:white;
	 text-decoration: none;
	 font-size:20px;
}
#menu a:hover {
	background:#eee;
	color:black;
}

.aktif { background:rgb(245, 89, 128); } 

